<div class="modal fade glass-modal" id="<%= locals.modalId %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fas fa-edit me-2"></i> Edit Blog</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form action="/edit" method="post">
          <div class="mb-3">
            <label class="form-label"><i class="fas fa-user me-2"></i>Author</label>
            <input
              type="text"
              class="form-control glass-input glass-input-disabled"
              value="<%= locals.blog.firstName + ' ' + locals.blog.lastName %>"
              disabled
            />
          </div>

          <input type="hidden" name="blogId" value="<%= locals.blog.id %>">

          <div class="mb-3">
            <label for="blogTitle" class="form-label"><i class="fas fa-heading me-2"></i>Title</label>
            <input
              name="blogTitle"
              type="text"
              class="form-control glass-input glass-input-editable"
              value="<%= locals.blog.blogTitle %>"
              required
            />
          </div>

          <div class="mb-3">
            <label for="blog-text" class="form-label"><i class="fas fa-edit me-2"></i>Content</label>
            <textarea
              name="blogContent"
              class="form-control glass-input glass-input-editable"
              rows="5"
              required
            ><%= locals.blog.blogContent %></textarea>
          </div>

          <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-glass" data-bs-dismiss="modal">
              <i class="fas fa-times me-2"></i> Cancel
            </button>
            <button type="submit" class="btn btn-glass-primary">
              <i class="fas fa-save me-2"></i> Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>